.card {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;
}

.card__content-name {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content-image {
  width: 23px;
  height: 20px;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease;
  background: transparent url(../images/heart.svg) center no-repeat;
}

.card__content-image:hover {
  opacity: 100%;
}

.card__content-image_active {
  background-image: url(../images/liked-color.svg);
  opacity: 1;
}

.card__content-button {
  background-color: #fcf5e5;
  border-style: none;
  padding: 0;
}

.card__content-button:hover {
  cursor: pointer;
}

.card__delete-btn {
  border-style: none;
  background: transparent url(../images/delete-icon.svg) center no-repeat;
  padding: 0;
  display: flex;
  position: absolute;
  left: 371px;
  top: 10px;
}

.card__delete-btn:hover {
  cursor: pointer;
  background-color: #ff6565;
}

.card__delete-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.card__delete-icon:hover {
}

@media screen and (max-width: 630px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content-name {
    max-width: 250px;
    font-size: 16px;
  }

  .card__delete-btn {
    left: 246px;
  }
}
