.header {
  width: 100%;
  height: 46px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  width: 94px;
  height: 26px;
  border-bottom: 0.2px;
}

@media screen and (max-width: 630px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}
