.profile {
  display: flex;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.profile__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__title-name {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__title-description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  background: #fcf5e5;
  border-style: none;
  margin-top: auto;
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.3s ease;
  padding: 0;
  color: #212121;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__button {
  color: #fcf5e5;
  background-color: #212121;
  width: 149px;
  height: 52px;
  align-self: flex-end;
  border-radius: 8px;
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.profile__button:hover {
  opacity: 80%;
}

.profile__button-title {
  width: 73px;
  height: 16px;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    padding-top: 20px;
  }

  .profile__image {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__content {
    margin: 0 auto;
    justify-content: center;
    max-width: 288px;
  }

  .profile__title {
    gap: 6px;
  }

  .profile__title-name {
    max-width: 288px;
    font-size: 1.25rem;
  }

  .profile__title-description {
    margin: 0 auto;
  }

  .profile__edit-btn {
    margin: 32px auto 0;
  }

  .profile__button {
    margin: auto;
    width: 100%;
  }
}
