.modal {
  visibility: hidden;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__card-container {
  position: relative;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url(../images/X-icon.svg) center no-repeat;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
  border: 1px rgba(33, 33, 33) solid;
  border-radius: 50%;
}

.modal__close-btn_type_preview {
  top: -10px;
  right: -35.5px;
  padding: 0;
  background: transparent url(../images/white-X.svg) center no-repeat;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__image {
  padding: 0;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #ffffff;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  width: 214px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  margin: 8px 0 0;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 0 0 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0;
  margin: 0 0 32px;
}

.modal__label_image {
  margin: 0 0 32px;
}

.modal__label_caption {
  margin: 0 0 32px;
}

.modal__input {
  margin: 8px 0 0;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  padding: 16px 0 16px 12px;
  opacity: 40%;
  cursor: pointer;
  color: #212121;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  opacity: 100%;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  margin-top: 8px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.1;
}

.modal__submit_btn {
  background-color: #212121;
  padding: 18px 58px;
  max-width: 156px;
  height: 52px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s ease;
  border: none;
}

.modal__submit_btn_type_disabled {
  opacity: 50%;
  background-color: #212121;
  user-select: none;
  pointer-events: none;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close-btn {
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn {
    position: absolute;
    right: 2px;
    top: 10px;
  }

  .modal__input {
    font-size: 1rem;
  }

  .modal__title {
    font-size: 1.25rem;
  }

  .modal__submit_btn {
    width: 100%;
    max-width: none;
  }
}
